<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <!-- Define the targets where the log messages will be written -->
    <targets>
        <!-- Console target: Logs to the console -->
        <target xsi:type="ColoredConsole" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}">
            <highlight-row backgroundColor="Black" foregroundColor="White" condition="level == LogLevel.Info" />
            <highlight-row backgroundColor="Yellow" condition="level == LogLevel.Warn" />
            <highlight-row backgroundColor="Red" condition="level == LogLevel.Error" />
            <highlight-row backgroundColor="DarkRed" condition="level == LogLevel.Fatal" />
        </target>

        <!-- File target: Logs to a file -->
        <target xsi:type="File" name="file" fileName="d:\logs\log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    </targets>

    <!-- Define the rules for logging -->
    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Trace" writeTo="file, console" />

        <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
        <logger name="Microsoft.*" maxlevel="Fatal" final="true" />
    </rules>
</nlog>
